@import url('./fonts/fonts.css');

html {
	background-color: #181c14;
	font-family: 'GenomeFont', 'Helvetica Neue', Arial, sans-serif;
}

body {
	color: white;
	font-family: 'GenomeFont', 'Helvetica Neue', Arial, sans-serif;
	/* overflow: hidden; */
}
