@import url('./fonts/fonts.css');

html,
body {
	font-family: 'GenomeFont', 'Helvetica Neue', Arial, sans-serif;
}

/* --background-color-dark: #181c14;
	--card-background-dark: #3c3d37;
	--div-background-dark: #697565;
	--text-color-dark: #ecdfcc;
	--background-color-light: #ecdfcc;
	--card-background-light: #697565;
	--div-background-light: #1e201e;
	--text-color-light: #181c14;
} */
