.text {
	font-size: 2vw;
	font-family: 'GenomeFont';
	margin-top: 0vw;
	color: #ecdfcc;
}

.text.hovered {
	font-size: 2vw;
	font-family: 'GenomeFont';
	margin-top: 0vw;
	color: #1e201e;
	cursor: pointer;
}

.arrow {
	margin-top: 0.4vw;
	color: #ecdfcc;
}

.arrow.hovered {
	margin-top: 0.4vw;
	color: #1e201e;
}

.container {
	position: relative;
}
