@font-face {
	font-family: 'VHSFont';
	src: url('./VHS.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-size: small;
}

@font-face {
	font-family: 'GenomeFont';
	src: url('./Genome\ Light.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'VCR';
	src: url('./VCR.ttf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
